Utilities/obj/*
Utilities/bin/*
UnitTests/bin/*
UnitTests/obj/*
Utilities.*/bin
Utilities.*/obj
UtilitiesSplitter/obj/
UtilitiesSplitter/bin/
Utilities/CraigsUtilityLibrary.3.0.nupkg
*.suo
*.nupkg
.hg/*
ExampleApp/*
ExampleWebApp/*
CUL.NLog/bin/
CUL.NLog/obj/
CUL.ServiceStack/bin/
CUL.ServiceStack/obj/
CUL.MiniProfiler/bin/
CUL.MiniProfiler/obj/
Glimpse.CUL/bin/
Glimpse.CUL/obj/
IntegrationTests/bin/
IntegrationTests/obj/
Ironman.Core.Assets.Less/bin/
Ironman.Core.Assets.Less/obj/
Ironman.Core.Assets.Yui/bin/
Ironman.Core.Assets.Yui/obj/
Ironman.Core/bin/
Ironman.Core/obj/
IronmanTests/bin/
IronmanTests/obj/
SpeedTests/bin/
SpeedTests/obj/
