<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Roslyn" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
</packages>