<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add connectionString="Data Source=localhost;Initial Catalog=SpeedTest;Integrated Security=SSPI;Pooling=false" name="DatabaseConfig" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=localhost;Initial Catalog=SpeedTest;Integrated Security=SSPI;Pooling=false" name="Source1Config" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=localhost;Initial Catalog=SpeedTest;Integrated Security=SSPI;Pooling=false" name="Source2Config" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>