<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="LDAP" connectionString="Data Source=localhost;Integrated Security=SSPI;" providerName="LDAP" />
    </connectionStrings>
    <appSettings>
        <add key="A" value="B" />
    </appSettings>
</configuration>